@font-face {
    font-family: 'SharpSansBold';
    src: url('https://ik.imagekit.io/026k2i7ys/fonts/SharpSansBold.woff?updatedAt=1701674171934') format('woff');
}

@font-face {
    font-family: 'SharpSansMedium';
    src: url('https://ik.imagekit.io/026k2i7ys/fonts/Sharp%20Sans%20Medium.woff?updatedAt=1701612453253') format('woff');
}

@font-face {
    font-family: 'SharpSansExtraBold';
    src: url('https://ik.imagekit.io/026k2i7ys/fonts/Sharp%20Sans%20Extrabold.woff?updatedAt=1701612435101') format('woff');
}

@font-face {
    font-family: 'SharpSansSemiBold';
    src: url('https://ik.imagekit.io/026k2i7ys/fonts/Sharp%20Sans%20Semibold.woff?updatedAt=1701612513730') format('woff');
}

@font-face {
    font-family: 'SharpSansSemiBoldItalic';
    src: url('https://ik.imagekit.io/026k2i7ys/fonts/Sharp%20Sans%20Semibold%20Italic.woff?updatedAt=1701612430860') format('woff');
}

@font-face {
    font-family: 'SharpSansBoldItalic';
    src: url('https://ik.imagekit.io/026k2i7ys/fonts/Sharp%20Sans%20Bold%20Italic.woff?updatedAt=1701612429444') format('woff');
}

@font-face {
    font-family: 'RocGrotesk';
    src: url('https://ik.imagekit.io/026k2i7ys/fonts/FONTSPRINGDEMO-RocGroteskBold.woff?updatedAt=1701612426689') format('woff');
}

:root {
    /* Light shades */
    --color-50: #fff6eb;
    --color-100: #ffe7c6;
    --color-200: #ffcb88;
    --color-300: #ffa238;
    --color-400: #ff8d20;
  
    /* Primary shades */
    --color-500: #f96707;
    --color-600: #dd4402;
    --color-700: #b72a06;
  
    /* Dark shades */
    --color-800: #941f0c;
    --color-900: #7a1c0d;
    --color-950: #460a02;
  
    /* Example text colors */
    --text-color-primary: var(--color-800);
    --text-color-secondary: var(--color-600);
  
    /* Example background colors */
    --bg-light: var(--color-50);
    --bg-dark: var(--color-900);
  
    /* Example button colors */
    --button-primary-bg: var(--color-500);
    --button-hover-bg: var(--color-400);
    --button-text-color: white;
  
    /* Example border colors */
    --border-light: var(--color-200);
    --border-dark: var(--color-700);

    --sender-chat-color: var(--color-400); /* Your custom sender chat color */
    --receiver-chat-color: var(--color-100); /* Background color for receiver chat */
    --text-color-sender: var(--color-950); /* Text color for sender */
    --text-color-receiver: var(--color-950); /* Text color for receiver */
  
  }
  

*{
    font-family: 'SharpSansMedium';
}

/* Buttons */
.button-primary {
    background-color: var(--button-primary-bg);
    color: var(--button-text-color);
    border: 1px solid var(--border-light);
  }
  
  .button-primary:hover {
    background-color: var(--button-hover-bg);
  }
  
  /* Backgrounds */
  body {
    background-color: var(--bg-light);
  }
  
  .container-dark {
    background-color: var(--bg-dark);
    color: var(--text-color-primary);
  }
  
  /* Borders */
  .card {
    border: 1px solid var(--border-light);
  }
  
  .card-dark {
    border: 1px solid var(--border-dark);
  }
  
  /* Add this to your CSS file */
.layout-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh; /* Reducing height from 100vh to 70vh */
  }
  
  .main-container {
    text-align: center; /* To center the text */
    padding: 20px;
    background-color: #f0f2f5;
    border-radius: 10px;
  }
  